body, html, #content, h1, table, iframe{
  background-color: skyblue;
}

#content {
  width: 100%;
}

#head {
  width: 100%;
  padding: 10px 20px;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
  font-family: Georgia, Serif;  
  line-height: 2.0em;
  font-size: 200%;
  background-color: skyblue;
}

.login, .menu, .logModules, .displayList, .editConfiguration {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 20px 20px 10px #88888888; 
  padding: 10px 20px;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
  font-family: Georgia, Serif;  
  line-height: 2.0em;
}
.login {
  /* Align center */
  margin-right: auto;
  margin-left: auto;
  width: 200px;

}
.menu {
  width: 200px;
  padding: 10px 20px;
}
.downloadPanel {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 20px 20px 10px #88888888; 
  width: 100%;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
  font-family: Georgia, Serif;  
  line-height: 2.0em;
}
.downloadTextNo {
	color: red;
}
.downloadTextYes {
	color: green;
}
.logModules {
  width: 700px;
  padding: 10px 20px;
  margin-left: 10px;
}
.displayList {
  width: 700px;
  padding: 10px 20px;
  margin-left: 10px;
}

/* The entire table on displayList page */
.listTable {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
  background-color: white;
  margin-bottom: 20px;
}

/* Header row on displayList page */
.listTableHead {
  background-color: #2062B8;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}

/* Hover properties on rows in table on displayList page */
.listTableRow:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.displayMap {
  background-color: white;
  border: 1px solid black;
  box-shadow: 20px 20px 10px #88888888; 
  width: 100%;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
  font-family: Georgia, Serif;  
  line-height: 2.0em;
}

/* Not working at the moment */
.mapButton {
  padding: 5px 5px 5px 5px;
  margin: 50px;
  /* Center the button */
  margin-right: auto;
  margin-left: auto;
}

.logTable {
  border: solid 1px black;
  box-shadow: 20px 20px 10px #88888888; 
  margin-right: auto;
  margin-left: auto;
}

.logHeader, .listHeader, .mapHeader {
  padding: 5px;
  font-weight: bold;
}